# Environment variables
.env

# Dataset directories
oasis_cross-sectional_disc1/
discs/
disc1/
disc2/
disc3/
disc4/
disc5/
disc6/
disc7/
disc8/
disc9/
disc10/
disc11/
disc12/

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/